[2011-05-04 21:00] durana opened #1 "Empty repository & 'all' architecture packages"
Looks like if you have an empty repository and you try to add a package with an architecture of 'all', freight-cache will fail.

[code]

I suspect lib/freight/apt.sh:62 is the problem because there are no binary-\* directories to pick up a list of architectures from, but I'm not certain because I haven't had a whole lot of time to look at this.

[2011-06-29 15:22] rcrowley commented on #1
Closed by b93673ac788af7bea4a31f9bc56dc4d42692752a.  Thanks!

[2011-06-29 15:22] #1 closed, assigned to nobody

[2011-07-06 04:39] ajc opened #2 "can't have different packages with same name for different debian/ubuntu releases"
I'm using FPM to build python packages, and while Ubuntu 10.04 and 10.10 have Python 2.6, 11.04 has 2.7 which means i need a separate package built for that.

If I try and use freight to serve up a single repository for all 3 Ubuntu releases, it seems that only one package "wins" (the 10.04 one, for what it's worth). When I try fetching the package on an 11.04 machine it (rightfully) barfs on a si

[2011-07-06 04:55] rcrowley commented on #2
I've run into this issue as well and as a stopgap, use version numbers like 1.2.3-1py2.7.  I guess it's time to split the `pool/` directory into something like `pool/lucid/main/...`.

[2011-07-07 03:49] tmm1 opened #3 "freight-cache fails on lenny"
[code]

[code]

[2011-07-08 00:37] #3 closed, assigned to nobody

[2011-07-08 02:54] tmm1 commented on #2
:+1:

[2011-07-08 02:58] tmm1 commented on #3
Awesome, thanks!

[2011-07-08 03:15] tmm1 opened #4 "on gpg errors, dists directory is not cleaned up"
[code]

[code]

[2011-07-08 03:16] tmm1 commented on #4
It might make sense to just ignore the error (print a warning) and continue with updating the symlink. You'll end up with an unsigned repo, but atleast it'll work.

[2011-07-08 06:03] rcrowley commented on #4
That's a good one.  I'm not sure if I agree about the unsigned repo bit but a better error is in order, without question.

[2011-07-08 06:11] tmm1 commented on #4
Yea on second thought, an explicit error with some guidance (run `gpg --gen-key` and update your config file or use -g) along with cleanup is the right solution.

[2011-07-08 14:41] #4 closed, assigned to nobody

[2011-07-08 15:02] rcrowley commented on #2
Does this solve your problem, @ajc?  I no longer have to use the version number to publish Python 2.6- and 2.7-dependent packages.

[2011-07-08 22:53] ajc commented on #2
I'll give it a whirl sometime today and let you know. Cheers!

[2011-07-09 07:19] ajc commented on #2
Looks good!

I don't remember noticing this at the top of the output though:

[code]

...it only happens if i specify more than one distribution at once. ah, ok. if i replace the

[code]

with

[code]

it stops complaining.

[2011-07-09 15:51] rcrowley commented on #2
Released in 0.0.8.

[2011-07-09 15:51] #2 closed, assigned to nobody

[2011-07-09 18:59] rcrowley opened #5 "Support source packages"

[2011-07-11 09:37] tmm1 commented on #5
+1. This will help us move away from reprepro completely.

[2011-07-14 04:44] tmm1 opened #6 "Add support for sections"
main, non-free, etc

[2011-07-14 22:14] rcrowley commented on #6
Tagged and released v0.0.9 with component handling.  See http://rcrowley.github.com/freight/freight-add.1.html for details but basically just call `freight-add` with `apt/lucid/non-free` to put it in a different component.

[2011-07-14 22:14] #6 closed, assigned to rcrowley

[2011-07-16 07:49] tmm1 opened #7 "freight-{add,cache} should complain on invalid .deb files"
Something like this should be enough to detect valid files, but I'm not sure how to hook it up to `freight-add`. It should probably go into `freight-cache` as well, in case you end up with an invalid file in `/var/lib/freight`.

[code]

[2011-07-16 07:58] tmm1 commented on #7
Actually, you can just use `dpkg-deb`:

[code]

[2011-07-16 18:20] rcrowley commented on #7
28aa9299d80ae2766ecc5a32974369ee365c5f94 only handles invalid packages in `freight-cache`.  Do you think it's worth adding a new API `${MANAGER}_verify` that can be called from `freight-add`?  It's trivial to do so if it's important to you.

[2011-07-16 23:27] tmm1 commented on #7
Looks good. As long as it's in `freight-cache` I think that's fine. You can remove the offending file regardless of whether it was added via `freight-add` or put in the directory manually.

[2011-07-16 23:27] #7 closed, assigned to nobody

[2011-08-05 00:39] rcrowley opened #10 "Wrong mode: keyring.gpg"
It should be world-readable since the web server has to serve it.

[2011-09-19 13:47] thereforsunrise opened #11 "freight-cache fails to generate cache with no such file or directory error"
Briefly, after adding a few packages and trying to run freight-cache, I get:

~  ᐅ sudo freight-cache -c /etc/freight.conf
chmod: cannot access `/var/cache/freight/work.2745.tth3hpp4z4/gpg/keyring.gpg': No such file or directory

Tracking this down this seems to be due to:

223         chmod 644 "$TMP/gpg/keyring.gpg"
224         mv "$TMP/gpg/pubring.gpg" "$VARCACHE/keyring.gpg"

Are these lines t

[2011-09-22 02:24] #11 closed, assigned to nobody

[2011-09-22 02:26] #10 closed, assigned to nobody

[2011-10-18 13:07] timurb commented on #11
Could you please regenerate the deb package at packages.devstructure.com as this fix is not pushed into that yet?

[2011-11-05 18:36] rcrowley opened #13 "Ignore hidden directories in VARLIB"

[2011-11-05 20:33] #13 closed, assigned to nobody

[2011-11-07 19:19] rcrowley commented on #5
This is merged and I haven't heard anyone say it's broken.

[2011-11-07 19:19] #5 closed, assigned to nobody

[2011-12-07 23:14] haus opened #14 "freight-cache seems to ignore gpg-agent"
After calling keychain --eval and exporting the GPG_AGENT_INFO, calling freight-cache should ideally use the agent and not need to prompt for my passphrase. However, freight-cache is not using the agent, and will always prompt for the passphrase, unless the key is passphraseless. Output follows.

No GPG_AGENT_INFO to start...

[code]

Calling keychain to get the GPG_AGENT_INFO to export.

[code]

[2011-12-08 17:02] rcrowley commented on #14
Hi @haus,

I must admit my ignorance surrounding GPG and its agent.  I'm obviously able to reproduce the issue but don't know how to proceed.  I have my own `gpg-agent` running and `GPG_AGENT_INFO` is in the environment.  How do I add my `packages@rcrowley.org` key to the agent?

And now for the solution, which I was hoping to verify myself: it seems to be as simple as adding `--use-agent` to the

[2011-12-08 17:38] haus commented on #14
Awesome! That totally works (added to apt.sh).

And I'm not very good with GPG myself, but this is my understanding of agent and getting keys into it.

And as long as your key is known to gpg, (gpg --import <KEYID>), running `eval $(gpg-agent --daemon)` should enable the agent to load the key whenever needed, after unlocking for the first use. Or, once gpg knows about it, running `eval $(keychain

[2011-12-09 02:22] #14 closed, assigned to nobody

[2012-02-07 02:28] major opened #19 "Delete files from repo if they're missing from staging area"
If I remove a file from the staging area in /var/lib/freight and then I run freight-cache again, the file and the repo metadata aren't removed from the repository in /var/cache/freight.  It would be great if freight-cache could clean up the repository area if the files aren't available any longer in the staging area.

Thanks for putting this together!

[2012-02-07 04:30] rcrowley commented on #19
I always hate saying "works for me" but I'm not sure I understand what's not being removed.  I created two versions of the `freight` package, added one, then the other, and finally removed one.

[code]

[2012-02-07 18:12] major commented on #19
Hmm, I'll give this a try when I'm back in the office on Thursday and see if I'm just blind. ;)

Thanks for the reply!

[2012-02-13 19:10] major commented on #19
Apologies! I think I failed to do something right on my end.  I'm noticing things getting removed from the freight cache now.

[2012-02-13 19:10] #19 closed, assigned to nobody

[2012-05-04 02:36] joemiller opened #25 "symlinks make uploading apt repos to s3 inefficient"
We are using freight to manage apt repos for the Sensu (https://github.com/sensu) project. It's a great tool but I noticed it's not all that efficient when repos are sync'd to S3 for serving.

This is due to the way symlinks are used by freight.

Time permitting I would like to submit a PR to address this, but I don't have time at the moment. I figured I would drop a note here in case you had addi

[2012-06-11 23:05] rcrowley opened #26 "`freight cache` with no arguments is broken"
[code]

[2012-10-02 23:08] stahnma commented on #25
I'm running into this today as well.  I'd love to have a good fix, but I'm not sure exactly what it would be yet.

[2012-10-21 17:12] #26 closed, assigned to nobody

[2012-11-28 18:02] abecciu commented on #25
+1 for this

[2013-01-03 17:16] ghost opened #28 "Issue with gpg and tty in freight-cache"
Hi,

Thank a lot for fright.

I am trying to use it to generate repositories on one of our servers and I can't manage to get GPG signing working. I am not using gpg-agent and whenever I run freight-cache, I get:

  gpg: gpg-agent is not available in this session
  gpg: Sorry, no terminal at all requested - can't get input
  # [freight] couldn't sign the repository, perhaps you need to run
  # [fre

[2013-01-05 15:17] ghost commented on #28
Sorry, I forgot about the first rule of bug reporting...

I am facing this issue on Ubuntu 12.04, using freight 3.0.1 from the package found at http://packages.rcrowley.org/.

[2013-01-06 00:31] rcrowley commented on #28
@eolamey does 4e4e678c3ad6509e26f73860368eeb472c094353 fix the issue for you?  I'm a bit perplexed as to how you're seeing it and I'm not but regardless, I believe this will address the issue.

I'll cut a new release when you confirm that it works.

[2013-01-06 12:53] ghost commented on #28
Richard, thanks a lot for you answer and patch, which works as expected. I don't understand either how it could work before for everyone else but me, as my environment is pretty standard...

Anyway, thanks again for this.

[2013-01-10 20:18] ccollicutt commented on #28
I have the exact same problem.

[2013-01-11 14:38] rcrowley commented on #28
I just pushed v0.3.2 to http://packages.rcrowley.org, which includes this fix.  Thanks for the reports!

[2013-01-11 14:38] #28 closed, assigned to nobody

[2013-01-11 15:05] ccollicutt commented on #28
Much appreciated, thanks for the great work -- will be using it today. :)

[2013-01-25 16:12] joschi opened #29 "Fix tag name for version 0.3.2"
The tag for version 0.3.2 contains a typo and is called "v0.32". Since the previous versions were called "v0.3.0" and "v0.3.1" I suppose this wasn't on purpose.

Please rename the tag to the correct version number. This would tremendously help when trying to package (no pun intended) freight for a Linux distribution.

[2013-01-25 16:48] rcrowley commented on #29
How embarrassing!

Fixed.  Thank you.

[2013-01-25 16:48] #29 closed, assigned to nobody

[2013-01-25 16:49] joschi commented on #29
Thanks! :)

[2013-01-30 13:05] sts opened #30 "Freight fix for non TTY conditions when run with set -e"
I'm about to add Freight support to [jenkins-debian-glue](https://github.com/mika/jenkins-debian-glue/pull/40). A Framework for building Debian packages with Jenkins.

Jenkins-debian-glue uses `set -e`, in its scripts, which exits immediately  if a command exits with a nonzero status.

Your patch from #28, 4e4e678c3ad6509e26f73860368eeb472c094353 is evaluating the no-tty option for gpg in an incom

[2013-02-02 01:48] #30 closed, assigned to nobody

[2013-02-02 01:49] rcrowley commented on #30
So it does.  Thank you for the report, @sts.

[2013-03-06 17:23] kamorin opened #32 "Multiple versions of the same package"
I have a debian file

logger.deb

which I am trying to add to a repository.  I get

 [freight] apt/precise/release already has /opt/apt/packages/release/logger.deb

The build process increments the debian version with each build.  I would like to keep multiple revisions in the repository to allow for rolling forward or back.

for example:

$ dpkg -I logger.deb
 new debian package, version 2.0.
 si

[2013-04-03 17:11] #32 closed, assigned to nobody

[2013-05-03 00:12] antaflos opened #33 "Way to use freight non-interactively?"
We have various Jenkins jobs building various software packages. Some of these are .deb files and we're looking for a way to upload, freight-add and freight-cache these packages automatically and non-interactively to our in-house DEB/APT repository.

Uploading and running freight-add is obviously not a problem, but we also want to keep signing the repository, and this seems to be impossible when r

[2013-05-03 01:10] antaflos commented on #33
I've implemented this in the most simplistic way I could think of in https://github.com/antaflos/freight/commit/e71dd9d815cdd0c4ab0b8b2927a90c0fb406299c. When `GPG_PASSPHRASE` is set in `/etc/freight.conf` it will be passed to the `gpg` invocation using `--passphrase "$GPG_PASSPHRASE"`. Obviously this means `/etc/freight.conf` needs to be protected properly and the server on which freight runs sho

[2013-05-08 23:06] rcrowley commented on #33
We have had success running a `gpg-agent` process for the `freight` or `jenkins` user (I forget).  Is there a reason you can't run a `gpg-agent`?

[2013-06-03 01:58] antaflos commented on #33
I am not sure if running `gpg-agent` helps making freight run completely non-interactively. Doesn't running `gpg-agent` also require that someone enter the passphrase in a pinentry program so the agent can open the key? And doesn't `gpg-agent` have a TTL for cached entries that requires re-entering the passphrase after some time?

Could you tell me more about how you used `gpg-agent` with freight

[2013-06-05 15:38] MosesMendoza commented on #33
@antaflos you're correct it's not entirely non-interactive, but its a pretty good start. start gpg-agent with --daemon --default-cache-ttl [a very large number of seconds] --max-cache-ttl [a very large number of seconds] and it will stay running in the background. Note that it's trivial to exploit a running gpg-agent to obtain the key, so unless the host where its running is completely secure (pos

[2013-06-05 16:57] sts opened #35 "Freight Performance"
Generating the freight-cache from a source directory with a lot of packages, requires significant CPU resources for generating the MD5/SHA1/SHA256 checksums.

Freight is part of our build process and we would like to reduce the time needed to provide a installable package.

The proposed patch in pull-request #34 will cache the checksums, each in a single file once generated:

[code]

RFC

[2013-06-22 18:56] rcrowley commented on #35
Duplicate of #34.

[2013-06-22 18:56] #35 closed, assigned to nobody

[2013-06-22 19:00] rcrowley commented on #25
Define inefficient: latency/performance, space, or something else?  As far as I can tell it works but duplicates files because S3 is not actually a filesystem and thus doesn't understand hard links which are how Freight does almost all of its bookkeeping.

[2013-07-16 15:40] colszowka commented on #25
The problem I have bumped into is syncing the cache dir up into a s3 bucket, using `s3cmd sync` uploads only the actual data-dirs underneath `dists`, say `raring-2013...`, which makes ubuntu fail to recognize the dists/raring/Packages file when running `apt-get update`. It would be great if freight had a config option that would just collapse all the files under dists into `dists/raring`, `dists/p

[2013-07-16 16:01] colszowka commented on #25
Amazing how writing about an issue makes you (finally) think about it: Using an exclude pattern of `"dists/*-201*"` made this work for me as expected - only the actual distro-specific base dirs will get synced, and thanks to the aforementioned symlink expansion all the required files should be there (so no duplication / duplicate upload of files on s3 should happen).

To do a full, no-duplicates s

[2013-07-17 13:52] gregswift opened #36 "Hard link from source during freight-add"
Jenkins pushes our packages to our repository server.  Once it lands there freight-add is run to add it to our repository.  The way Jenkin is pushing it, we can't just delete the source package (it comes right back on next build).  Would be nice if freight-add would just hard-link if the source is on the same filesystem as the target.

[2013-07-17 20:36] antaflos commented on #36
You can just have Jenkins push the packages to /var/lib/freight directly using rsync. It's what we do and I have yet to find a downside to that approach.

[2013-07-18 02:13] gregswift commented on #36
Does require we change things a bit though.  The user can push files to the box, but it can't publish them to the repository.  That's managed by an incron initiated process.  Beneficial for making sure a compromised minimal access account can't seed the repository with data that hasn't been checked by another script.

[2013-07-19 13:15] codygarver opened #37 "ARCHS should be moved to freight.conf"
It was not obvious to me that Freight supported armhf. Maybe the ARCHS should be moved to freight.conf instead of lib/freight/conf.sh.

[2013-07-19 16:42] rcrowley commented on #37
The various `freight.conf` locations are sourced after the default `ARCHS` is set so go ahead and add your own `ARCHS` to your `freight.conf` and you'll be off to the races.

[2013-07-19 16:42] #37 closed, assigned to nobody

[2013-08-03 23:54] rcrowley commented on #33
@antaflos in the spirit of giving everyone all the rope they need to hang themselves :) I'd definitely merge the `GPG_PASSPHRASE` config option.

[2013-08-03 23:58] rcrowley commented on #36
Apologies for the delayed response, @gregswift.  I'm not entirely I understand the problem that hard-linking into `/var/lib/freight` would solve but I can say that hard-linking into `/var/lib/freight` would throw a monkey-wrench into Freight's internal reference counting for when to include a package in `Packages`.

[2013-08-05 03:12] rackergs commented on #36
For us the solving would be not having duplicate files on the filesystem, however if its a non-starter because of Freight's internals then no worries.. we alleviated our problem in other ways.

[2013-08-30 21:53] tumblingtumbleweed opened #38 "Bug in freight-add"
When a control file does not have a space following a colon, the apt.sh script removes the first character of the following field.

For example:

[code]

Notice "amd64" vs "md64"

[2013-08-30 21:54] tumblingtumbleweed commented on #38
I suggest changing

[code]

to

[code]

[2013-08-30 22:04] edgan commented on #38
The control file of  oracle-jrockit-jvm_1.6.0-45-28.2.7_amd64.deb  is Architecture:amd64

[2013-08-30 22:08] tumblingtumbleweed commented on #38
I am aware of that. The debian spec does not require a space after the colon, therefore this is a freight bug. Submitting a pull request now.

[2013-09-05 15:23] pagodajosh opened #40 "No way to remove package from a repo?"
Is there any way to remove a package from a repo?

I realize that I could just put in a package with a higher version and use that one, but sometimes it would be simpler to replace a buggy package than to alter multiple references to it.

Also, I'm working on a project to serve multiple package types, and it would be really annoying to have .deb packages be the only ones that don't delete.

[2013-09-05 22:03] stuart-warren commented on #40
Personally I just add all my packages in a directory called incoming.
If I add a new package or want to remove a package I run the same script which:
- Blows away the entire existing repo files
- Iterates through all the files adding them to the repository

Not perfect but does the job

[2013-09-13 21:45] #36 closed, assigned to nobody

[2013-09-16 23:30] rcrowley commented on #38
Closed by #39.

[2013-09-16 23:30] #38 closed, assigned to nobody

[2013-09-16 23:32] rcrowley commented on #40
@pagodajosh There is no `freight remove` command because it's just `rm`.  So `rm $VARLIB/apt/$DIST/$FILENAME` should do the trick.

Should there be a `freight-remove`(1) for completeness?

[2013-09-17 00:58] antaflos commented on #33
I completely missed the last two comments in this thread, sorry about that. I'll formulate a pull request with the changes in https://github.com/antaflos/freight/commit/e71dd9d815cdd0c4ab0b8b2927a90c0fb406299c.

[2013-09-17 01:32] pagodajosh commented on #40
I did figure that out once I sat down and investigated. I even implemented the file delete in my project.

I think that the cache has to be rebuilt after the file is deleted. Is that correct?

If I have to run freight-cache after I delete the file, I think you should add the remove command so the life cycle is:
freight-init
freight-add
freight-cache
...
freight-remove
freight-cache

Instead of fre

[2013-09-26 09:07] masterzen commented on #33
That'd be awesome to have this merged-in.

[2013-09-30 00:19] #33 closed, assigned to nobody

[2013-09-30 00:20] rcrowley commented on #33
Merged and included in 0.3.4, just pushed to http://packages.rcrowley.org.  Thanks, @antaflos!

[2013-10-11 13:33] igalic commented on #40
I think it would be nice to have fright remove for completeness. Right now I've managed a couple of times to corrupt a package..

[2013-10-14 22:36] eiginn commented on #40
I have only barely started something like this at eiginn/freight@106a126e88437ed5f66588ba96749644ceefc241
I'm sure its not a fit with the freight style and/or a completely wrong to go about it as it iterates of all files in a distribution.
But in the long run I had thought the ability to keep only a certain number of old packages per package might share some of the same functions.

[2013-10-18 23:33] rcrowley commented on #40
@eiginn's WIP shows a couple of the challenges to the design of `freight-remove`:

If the interface is to mirror `freight-add` then I'd expect to give a pathname as the first argument but that requires either special autocomplete trickery or that the invocation actually specify a pathname inside `$VARLIB`.  If the latter's the case then there's no reason for any of the `$MANAGER/$DISTRO` arguments

[2013-10-20 21:26] 7ojo opened #43 "Suite: $DIST should be configurable and default to "unstable""
"Suite: " field on Release files should be configurable and be one of the specified: unstable, stable, oldstable, etc. Defined in https://wiki.debian.org/RepositoryFormat#A.22Release.22_files

lib/freight/apt.sh:156

(Suite: field affects on repository priority defined in /etc/apt/preferences)

[2013-11-13 11:21] mika opened #45 "0.3.4 release lacks according tag"
Maybe you just forgot to push the tag, would be nice if there would be an according tag for the last release (0.3.4) though. :)

Thanks!

[2013-11-13 16:32] rcrowley commented on #45
Fixed!  Sorry about that.

[2013-11-13 16:32] #45 closed, assigned to nobody

[2013-11-18 15:09] joemiller commented on #25
@colszowka awesome tip! I had not considered that.

[2013-12-04 00:14] SunSparc commented on #25
I am currently getting around the problem in this manner:

DISTSDIR=/var/cache/freight/dists
[ -d "$DISTSDIR/saucy" ] && rm -rf $DISTSDIR/saucy
freight add *.deb apt/saucy
GPG="signers@address.com" freight cache
NEWEST=`readlink $DISTSDIR/saucy`
rm $DISTSDIR/saucy && cp -r $DISTSDIR/$NEWEST $DISTSDIR/saucy

This way the distribution directory ("saucy" in this case) is an actual directory, not a li

[2014-01-23 08:36] Shnatsel opened #46 "Handling of source packages is undocumented"
All the Freight documentation I could find deals with binary .deb packages and doesn't mention source packages.

They seem to be supported in some way - when I try to freight-add a .dsc is copies it over to the library, but freight-cache complains that it's an invalid source package. When I try to add .tar.gz containing the source code freight-add just prints usage.

Could you document how source

[2014-01-25 14:31] Shnatsel opened #47 "Native source packages are not supported"
Source packages native to the distribution, i.e. consisting of just .dsc and .tar.gz instead of .dsc+.orig.tar.gz+.debian.tar.gz, are not supported by Freight. It seems to recognize only the non-native packages, as per https://github.com/rcrowley/freight/blob/master/bin/freight-add#L32

Adding such .dsc files are treated as "invalid" and attempting to add .tar.gz file prints usage.

This is a seri

[2014-01-27 19:30] rcrowley commented on #43
Currently, `Suite` is configurable in `freight.conf` and defaults to the same value as `Codename`.  Does that give you what you need?

I don't feel a great need to implement Debian policy in its entirety but rather just to give people a solid and straightforward tool for distributing binary packages.

[2014-01-27 19:33] 7ojo commented on #43
Yes, everything is ok now. Thanks :) I'm with you on that implementing debian policy enterily isn't feasible.

[2014-01-27 19:33] #43 closed, assigned to nobody

[2014-01-27 19:36] rcrowley commented on #46
You're right.  I'll get that stuff documented soon.

[2014-01-27 21:13] rcrowley commented on #47
@Shnatsel can you test this out, please?

[2014-01-27 22:16] Shnatsel commented on #47
It doesn't work, fails on trying to mkdir over the .tar.gz

Here's the debug log: http://pastebin.com/8ENspB1U

[2014-01-30 23:21] rcrowley commented on #47
That debug log is an incorrect invocation of `freight-add`, probably.  The usage message says it takes a single package (which, for source packages constitutes two or three arguments) and a list of archives in which that package should be included.  For example:

[code]

Does running it like that make any difference?  It looks like this patch works for me but I want to make sure it works for you,

[2014-01-31 00:17] Shnatsel commented on #47
I've run it like this:
`freight add build_folder/* apt/precise`
The folder contained .deb, .dsc and .tar.gz as produced by a single pbuilder run. I guess this is the problem. I'm sorry I can't test this invocation now - I'm leaving for FOSDEM in two hours.

If this is not supported it should be at least documented - oh, I've already complained about that in another issue...

Other than that, thank

[2014-01-31 01:31] rcrowley commented on #47
I'll get that documented and released soon, thanks for confirming.  I'm not likely to change the interface to accept multiple packages in one call because I think the more common (and if not incompatible at least confusing) invocation is to add the same package to multiple archives.

[2014-01-31 16:17] rcrowley commented on #47
Released in v0.3.5.

[2014-01-31 16:17] #47 closed, assigned to nobody

[2014-01-31 16:18] rcrowley commented on #46
Released in v0.3.5.

[2014-01-31 16:18] #46 closed, assigned to nobody

[2014-02-14 15:25] eswierk opened #48 "freight-add says package exists when $VARLIB is not writable"
I'm using freight 0.3.5 (very nifty!). I added a bunch of packages to a repository as one user, which created directories in $VARLIB owned by that user. I then mistakenly tried adding another package as a different user, which couldn't write to $VARLIB. But instead of complaining about permissions, freight-add says

# [freight] apt/foo/bar already has baz_1.0_amd64.deb

even though baz clearly was

[2014-02-14 19:04] rcrowley commented on #48
Oh, that's a bug!  Thank you for reporting it.  I'll get a fix out soon.

[2014-02-15 16:29] rcrowley commented on #48
Well damn, `ln`(1) exits 1 no matter how it fails.  So let me think about it a bit more.  It will be very easy to just let `ln`(1) print its error message but I'd rather not leak unaffiliated error messages because it may confuse users.  Perhaps I'll capture the error message and massage the error message slightly.

Regardless, as you pointed out, it is masking why it fails in this scenario and I'

[2014-02-16 17:34] #48 closed, assigned to nobody

[2014-03-15 15:29] mcallaway commented on #40
I also would like a freight-remove. In response to your comment:

"If the interface is to mirror freight-add then I'd expect to give a pathname as the first argument but that requires either special autocomplete trickery or that the invocation actually specify a pathname inside $VARLIB. If the latter's the case then there's no reason for any of the $MANAGER/$DISTRO arguments afterward and the comm

[2014-03-15 15:33] mcallaway opened #50 "Re-adding package requires 'freight cache' to be run twice"
[code]

[2014-03-17 09:39] igalic commented on #40
+1 for that feature!

[2014-05-05 12:35] antaflos opened #51 "SHA1Sum/SHA256Sum vs SHA1/SHA256 in Release file"
It seems the Release file generated by Freight makes Debian (at least Wheezy) choke, because it labels the SHA1 and SHA256 checksums as "SHA1Sum" and "SHA256Sum" instead of "SHA1" and "SHA256".

This is the Release file for Squeeze: ftp://ftp.at.debian.org/debian/dists/squeeze/Release Note how it says "SHA1" and "SHA256" instead of "SHA1Sum" and "SHA256Sum". Same for Ubuntu Trusty: ftp://at.archiv

[2014-05-08 05:42] #51 closed, assigned to nobody

[2014-05-08 05:42] rcrowley commented on #51
Thanks, @antaflos!

[2014-05-26 08:02] bracki opened #53 "Increase robustness when adding "malformed" packages."
According to https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=666726 packages may contain empty control fields, e.g. here https://github.com/nicolasff/phpredis/blob/master/debian.control.
This causes apt to fail miserably.
Wouldn't it be nice if `freight` stripped these fields?

Cheers,
Jan

[2014-05-26 08:40] bracki commented on #53
Even better solution would be to use `dpkg-scanpackages`. Any reason why this isn't being used?

[2014-05-28 12:47] deviantony commented on #40
+1 for that feature ! Would be much more easier to manage a repo with a tool using CRUD capabilities.

[2014-06-24 04:05] #53 closed, assigned to nobody

[2014-08-04 19:58] midacts commented on #28
I am running Debian 7.6
I install freight by running the following commands:

[code]

I am currently running freight version 0.3.5-1

When i run `freight cache`, I still receive the following message:

[code]

[2014-08-05 16:25] iwinux commented on #50
Same here.

[code]

[2014-08-06 12:09] leandro-lucarella-sociomantic commented on #25
Just a quick question, why are there `dist/name-timestamp` directories at all? I couldn't find a reason for it or any mention in the man pages.

[2014-09-04 10:31] shaikhfaisal commented on #40
+1

[2014-09-12 20:10] mperham opened #57 "CentOS 7 support"
Alas, your EPEL instructions don't work for CentOS 7.  Any chance we can get a freight el/7 rpm?

[code]

[2014-09-17 13:41] lasote opened #58 "When I add a package for arm architecture freight fails"

[2014-09-17 13:57] lasote commented on #58
Ok, I solved it. Just added ARCHS="i386 amd64 armhf" into my /etc/freight.conf and it works.
Thanks for the library!

[2014-09-17 13:57] #58 closed, assigned to nobody

[2014-09-24 21:21] mperham commented on #57
I was able to hack around this by installing the el/6 package on el/7.

[code]

The binaries run but who knows how reliable they'll be.

[2014-09-24 22:17] antaflos opened #59 "Should freight-add exit non-zero in case package is already present?"
Running `freight-add` on a package that already exists in the library exits with an informative (error?) message but with exit code 0:

[code]

Shouldn't it exit with 1 or another non-zero value so that one doesn't have to rely on parsing the message in order to find out what `freight-add` actually did?

I understand that the end result of running `freight-add` is always that a package is present

[2014-10-05 00:41] rcrowley commented on #57
@domcleal can you chime in here, please?  I don't use or have any Red Hat boxen so I can't help debug this issue.

[2014-10-05 00:46] rcrowley commented on #59
I'll think on it.  I didn't realize that was an erroneous condition.

You can work around it by looking in `$VARLIB/$MANAGER/$DIST` for the file you're trying to add.

[2014-10-05 00:59] rcrowley commented on #25
They allow Freight to present an always-intact repository to the world.

[2014-10-06 07:36] domcleal commented on #57
Looks like EPEL7 was missing a dpkg build, so freight hadn't been pushed (due to the RPM dep).  I've requested the dpkg maintainer build + publish it, then I can push freight.

https://bugzilla.redhat.com/show_bug.cgi?id=1149590

Sorry about that!

[2014-10-06 15:36] leandro-lucarella-sociomantic commented on #25
You mean like a snapshot?

[2014-10-11 17:39] rcrowley commented on #25
Not really.  If we didn't do something like this there'd be a (very brief) window during `freight cache` in which the entire archive would respond 404 for clients.  By changing a symbolic link this becomes an atomic operation and clients will never experience failures during archive changes.  (This isn't strictly true in case of packages being removed from the archive but, of course, you want thos

[2014-10-13 08:55] leandro-lucarella-sociomantic commented on #25
And any reason not to remove the old _snapshots_?

[2014-12-16 07:28] sts opened #60 "Provide Jessie Packages"
Hi. Debian/Jessie is frozen meanwhile, it would be great to get a Jessie branch up on packages.rcrowley.org so can start testing/integrating freight.

[2015-01-21 10:00] shipla opened #62 "ip address config parameter is never used"
I've put environment variable (IP_ADDRESS), and I've put conf "ip" parameter, but it doesn't use it at all. It uses port parameter, and password for sure, but in same time it doesn't listen on desired ip address.

[2015-05-05 00:59] bronson commented on #59
Freight's current behavior is what I would expect...  My build scripts don't check to see if packages already exist before trying to add them.  It's not an erroneous condition in my case.

@antaflos curious, why do you want dupes to be a fatal error?

[2015-06-03 17:35] bstrdsmkr commented on #57
@domcleal could you please update this?

[2015-06-04 09:55] domcleal commented on #57
Thanks for the reminder.  I've built it again in EPEL, fixed a bug and the update is now here: https://admin.fedoraproject.org/updates/freight-0.3.5-6.el7

It'll be published in the epel-testing repo in a few days I expect, or grab it [from koji](http://koji.fedoraproject.org/koji/buildinfo?buildID=641827) in the meantime.  If it works, please give karma on the above updates page so it gets into t

[2015-06-04 12:53] bstrdsmkr commented on #57
@domcleal thanks for the quick response!

it looks like line 78 of freight-cache still uses `dirname $(dirname $0)` but once I changed that to `/usr/share/` all was good

[2015-06-04 13:57] domcleal commented on #57
Good catch, I fixed a couple more too.  I'll try and write a reusable patch to submit to this repo soon, probably reusing the libdir from the Makefile somehow.

Resubmitted as https://admin.fedoraproject.org/updates/freight-0.3.5-7.el7

[2015-08-17 13:57] Thulium-Drake opened #64 "Extra managers"
Hi there!

I would like to know what one should do in order to add an extra manager (say yum) to freight. The documentation states that it only supports apt for now.

We want to use Freight in a mixed Debian/RHEL environment and I would like to use the same tool for both distro's. I want to attempt to make this work, but I'd rather make something that actually fits in and is not a dirty hack :-)

[2015-10-22 21:01] kosty commented on #28
Thanks for freight! It is great!

I seem to run into similar issues with a

[code]

The fix https://github.com/rcrowley/freight/commit/4e4e678c3ad6509e26f73860368eeb472c094353 seems to be there

[code]

so I'm not sure if that's the same issue or not

[2015-12-31 10:13] mattock opened #66 ""No Hash entry in Release file" failure on apt-1.1"
We're using freight to manage our apt repositories and have recently received reports that the repos don't work on Debian Jessie or Ubuntu Trusty if apt-1.1 is installed. Here's an example error:

[code]
This issue was originally reported to [our forums](https://forums.openvpn.net/topic20493.html). We're using the latest freight release available in the freight apt repos for Ubuntu 12.04 (=0.3.5-1

[2015-12-31 16:21] mmoll commented on #66
like #65 this needs to get implemented into freight

[2016-01-26 15:00] mattock commented on #66
I setup a freight repo based on [uwabami-freight](https://github.com/uwabami/freight) and could not reproduce this problem on Ubuntu 16.04 alpha 1 updated to the most recent packages. The apt version on that platform is 1.1.10, which is the most recent stable release of apt, according to Git tags in https://github.com/Debian/apt.

I also tested the repo on Debian 7 which has apt 0.9.7.9 and it sti

[2016-01-26 19:57] mattock opened #67 "Debian packaging files for freight not available"
Could you add the Debian packaging files for freight itself to the Git repository? That way people (like me) could build their of freight packages as well as contribute their changes back. This would also help resolve issue https://github.com/rcrowley/freight/issues/60.

[2016-02-04 06:04] JulesAU commented on #66
I can confirm the same result as @mattock; the uwabami-freight fork fixes it for Debian sid and stretch.

Looks like the freight project may have been abandoned?

[2016-02-04 17:20] mmoll commented on #66
If that should really be the case (@rcrowley?), a "canonical fork"[tm] would be very good to have.

[2016-02-08 09:05] mattock commented on #66
I sent email to @rcrowley suggesting asking if he'd be willing to grant other people permissions to the project.

[2016-02-08 10:31] mmoll commented on #66
Moving to an own GH organization might also be an option.

[2016-02-10 21:28] mmoll commented on #66
regarding the original problem: which version of freight are you using? this seems to have been fixed by #52, which came in after 0.3.5 was tagged and released.

[2016-02-11 08:31] mattock commented on #66
I was using the latest Ubuntu 12.04 package (0.3.5-1).

[2016-02-11 09:32] mmoll commented on #66
@mattock then you definitely need the patch in #52 and uwabami/freight@08c87d9

[2016-02-11 09:41] mattock commented on #66
There has been no response to my email sent on 8th Feb from @rcrowley . I checked if an organization called "freight" could be created, but that user/organization name has already been taken.

[2016-02-11 12:42] mmoll commented on #66
@mattock "apt-freight" or "freight-apt" maybe?

[2016-02-11 14:44] domcleal commented on #66
I'd like to switch the RPMs in Fedora to point at a well-maintained fork too, rather than carrying the patches above (and also #69).  I'd be happy to help with maintenance.

[2016-03-02 10:55] sts commented on #67
I think it was build using FPM

[2016-03-02 10:56] sts opened #70 "Maintained?"
Hi Richard, no activity for quite some time, are you still maintaining freight?

[2016-03-02 13:38] mattock commented on #67
Ah, I see. [FPM](https://github.com/jordansissel/fpm) sure looks interesting.

[2016-03-03 10:14] mattock commented on #66
@domcleal : I sent you an invite the GitHub organization called [freight-team](https://github.com/freight-team/) I forked the main freight repository there, and so now we need to start cherry-picking the useful patches.

@mmoll : shall I make you a team member also?

I will ask if our company could host the Debian packages for freight. Apparently the current ones have been generated with [FPM](htt

[2016-03-03 10:53] domcleal commented on #66
@mattock thanks, all received.  It might be good to enable issues on that repo so we have somewhere to discuss things.  I opened a PR for the date/valid-until fix discussed above, then we'll have to see about tidying up and cutting a release.

[2016-03-03 11:56] mmoll commented on #66
@mattock I'd be delighted :)

[2016-03-04 09:56] mmoll commented on #70
@sts there's a maintained fork being prepared right now under https://github.com/freight-team/freight

[2017-02-15 14:43] narcisgarcia opened #72 ""freight-add" better than "freight add" at Readme"
readme.md mentions the command syntax "freight add", but it should be better to mention "freight-add", to user looks directly freight-add manpage and uses its options right.
Note: FREIGHT_CONF environment variable doesn't work, and "freight" manpage is not giving other way to select configuration file.

[2017-02-16 07:31] narcisgarcia commented on #48
(off topic) Should be the option to run: freight --version
Using v0.3.10

freight-add (without the -e option) currently doesn't return exitcode in error when says "# [freight] apt/distro already has package.deb"

[2017-03-27 12:15] VeenaSL opened #73 "InRelease is not created and Release file doesnot contain MD5Sum, SHA1, SHA256"
freight add will create the Release file only. The InRelease file is not created. Also Release file does not has MD5Sum, SHA1 and SHA256. So while installing packages from the local repo created using freight, it fails even though public key is added in apt.

[2017-08-23 11:30] mmoll commented on #73
please see https://github.com/freight-team/freight for an updated fork of freight which does provide the newer checksums.

[2018-04-05 22:50] mmoll commented on #73
https://github.com/freight-team/freight/pull/79 also brings the InRelease file

[2018-04-18 16:24] itJunky opened #74 "gpg/pubring.gpg: No such file or directory"
After update debian from 8 to 9 i have this error:

[code]

How can i fix it?

[2018-11-08 12:10] mzhaase opened #75 "gpg-agent does not terminate"
Using  0.3.12 and the following cronjob:

`for file in /var/www/myrepo/incoming/*; do /usr/bin/freight add -c /etc/freight-myrepo.conf \$file apt/bionic; done \
        && /usr/bin/freight cache -c /etc/freight-myrepo.conf \
        && /bin/chown -R www-data:www-data /var/www/myrepo"`

/var/www is NFS and mounted on two servers which might execute it at the same time.

gpg-agent does not terminate

[2019-07-30 21:58] digizeph commented on #74
Having the same problem.
@itJunky Have you figured it out how to resolve it?

[2019-08-01 21:06] digizeph commented on #74
To future me: Switching to [`freight-team`'s fork](https://github.com/freight-team/freight) addressed this issue on my setup. Also seems like that fork is more actively maintained.

[2019-09-11 01:14] MikeAW2010 opened #76 "freight-cache - gpg-agent is not available in this session"
Hello.

For starters I need to state my experience with Freight and gpg is very limited. I was asked for assistance with this matter. Basically whenever we attempt to serve our apt's via freight-cache, we are receiving an error stating that gpg-agent is not available and asks us to manually input the passphrase when it is supposed to be obtaining it from a file. The reason this is an issue is we a

[2019-12-14 11:39] #64 closed